#browser{
    text-align: start;
    display: inline;
    list-style: none;
    position: relative;
}
.logoHeader, #information, #forum, #community, #news {
    margin: 0px;
    padding: 30px;
    list-style: none;
    line-height: 30px;
    display: inline;
    position: relative;
}
#footNote, #logoLaboratoria{
    text-align:center;
    position: relative;
    
}
.fila{
    display: table-row;
  }
.col{
    display: table-cell;
    padding: 12px;
  }